# Папки з результатами компіляції
/build/
/Debug/
/Release/

*.o
*.elf
*.bin
*.hex
*.map
*.d
*.lst

.project
.cproject
.settings/
*.launch

.vscode/

*.bak
*~
*.swp

build.ninja
.ninja_deps
.ninja_log

.DS_Store
